@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #FF8A3D80 transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #FF8A3D60;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #FF8A3D;
  }
}

